.firm-name {
  display: flex;
  justify-content: center;
}
.firm-name h1 {
  padding: 30px;
}
.blog {
  padding: 50px;
}
.btn {
  margin: 20px 0;
  border: 2px solid black;
  outline: 0;
  height: 50px;
  width: 200px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 1px;
  transition: all 200ms;
}
.btn:hover {
  /* transform: scale(1.1); */
  background-color: #baf9c4;
  letter-spacing: 2px;
  color: black;
}

.get_home {
  margin-left: 50%;
  transform: translate(-50%, -50%);
}
